body {
	margin: 0;
	padding: 0;
    font-family: sans-serif;
}
.box {
	width: 400px;
	padding: 40px;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(200px);
	background:#74b9ff;
	text-align: center;
}
.box h1 {
	color: #000000;
	text-transform: uppercase;
	font-weight: default;
}
.box input[type = "text"],
.box input[type = "password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2084af;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: rgb(14, 13, 13);
	border-radius: 24px;
	transition: 0.25s;
}
.box input[type = "text"]:focus,
.box input[type = "password"]:focus {
	width: 280px;
	border-color: #278ab4;
}
.box input[type = "submit"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #0984e3;
	padding: 14px 40px;
	outline: none;
	color: #000000;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type = "submit"]:hover {
	background:  #74b9ff;
}
.container i {
	margin-left: -30px;
	cursor: pointer;
}